/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1ae4; /* dark grey */
    color: #d2cbcb; /* light grey */
    line-height: 1.6;
  }

/* Header */
header {
    background: url('background.jpg') no-repeat center center/cover; /* adjust the path if needed */
    padding: 30px 0;
    text-align: center;
    color: #ffffff; /* white */
  }

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Sections */
section {
    padding: 20px;
    margin-bottom: 20px;
}

section h2, h3 {
    margin-bottom: 10px;
}

section ul {
    margin-left: 20px;
}

section ul li a {
    color: #f1f1f1; /* light grey */
    text-decoration: none;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  /* This makes sure the elements wrap to next line if the screen size is too small */
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.team-member {
    width: 100%; /* On small screens, each member gets their own line */
}



@media screen and (min-width: 600px) {
    .team-member {
        flex: 1 0 30%;  /* Flex grow, shrink, basis */
        margin: 10px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.065);
        text-align: center;
    }    
}


.team-member img {
    width: 100%;
    height: auto;   /* Change to auto for images to occupy the space based on their aspect ratio */
    object-fit: cover;
    overflow: hidden;
    border: 1px solid red; /* for debugging */
}



.team-member h3 {
    margin-top: 20px;
    font-size: 20px;
}


/* Footer */
footer {
    background-color: #255eb3a1; /* dark blue */
    color: #ffffff; /* white */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  
